# انسخ هذا الملف إلى .env واملأ القيم من Supabase ▸ Project Settings ▸ API
VITE_SUPABASE_URL=https://duwyftrpdihwzpezcmwb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1d3lmdHJwZGlod3pwZXpjbXdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyMzI2NzksImV4cCI6MjA5NTgwODY3OX0.d4iQbZKNCs0PW9kTk7XIF6O1q1mDwlLKV_SiYHEqqOY